* {
  margin: 0;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #141414;
  display: flex;
  align-items: center;
  color: #fff;
}

nav h1 {
  margin: 0 15px ;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav > a + a {
  margin-left: 15px;
}

main {
  padding: 20px;
}